<section id="active">
  <% if @project %>
    <h2>Active <%= link_to new_project_todo_path, :class => 'btn btn-mini btn-primary' do %><i class="icon-plus-sign icon-white"></i> New todo<% end %></h2>
  <% else %>
    <h2>Active <%= link_to new_todo_path, :class => 'btn btn-mini btn-primary' do %><i class="icon-plus-sign icon-white"></i> New todo<% end %></h2>
  <% end %>
  <% if todos.empty? %>
    <p>No tasks have been added yet.</p>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <% if @project %>
            <th class="span5">Task</th>
            <th class="span3">Due</th>
          <% else %>
            <th class="span4">Task</th>
            <th class="span2">Due</th>
            <th class="span3">Project</th>
          <% end %>
          <th class="span2">Status</th>
          <th class="span2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% todos.each do |todo| %>
          <tr>
            <td><label class="checkbox todo active"><input type="checkbox" data-todo-id="<%= todo.id %>"> <%= todo.task %></label></td>
            <td><% if todo.due_at %><%= time_tag todo.due_at %><% end %></td>
            <% unless @project %><td><%= todo.project.title %></td><% end %>
            <td><%= task_labels(todo) %></td>
            <td>
              <%= link_to 'Edit', edit_todo_path(todo), :class => 'btn btn-mini' %>
              <%= link_to todo_path(todo), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' do %>
                <i class="icon-remove-sign icon-white"></i>
                Delete
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>
