<h1>Todos</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Task</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.id %></td>
        <td><%= link_to todo.task, todo_path(todo) %></td>
        <td><%= todo.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_todo_path(todo), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', todo_path(todo), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_todo_path, :class => 'btn btn-primary' %>
