<h1>Todo</h1>

<p>
  <b>Task</b><br>
  <%= @todo.task %>
</p>

<p>
  <b>Description</b><br>
  <%= @todo.description %>
</p>

<p>
  <b>Complete</b><br>
  <%= @todo.complete %>
</p>

<p>
  <b>Due at</b><br>
  <%= @todo.due_at %>
</p>

<div class="form-actions">
  <%= link_to 'Back', todos_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_todo_path(@todo), :class => 'btn' %>
  <%= link_to 'Delete', todo_path(@todo), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
